<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ict_campus.hoferc_burkharta.cardbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ListDetailActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.EditCardActivity"
            android:parentActivityName=".view.ListCardsActivity" />
        <activity android:name=".view.ViewFullCardActivity"
            android:parentActivityName=".view.ListCardsActivity"/>
        <activity android:name=".view.ListCardsActivity"
            android:parentActivityName=".view.ListDetailActivity"/>
        <activity android:name=".view.EditSetActivity"
            android:parentActivityName=".view.ListDetailActivity"/>
        <activity android:name=".view.PlaySetActivity"
            android:parentActivityName=".view.MainActivity"></activity>
    </application>

</manifest>